
.slide {
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
  }
  
  .swiper-slide{
    background-color: rgba(0, 0, 0,0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .slide-content {
    text-align: center;
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .slide-content h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-transform: uppercase; 
    word-spacing: 10px;
    font-weight: 300;
  
  }
  
  .slide-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .shop-button {
    padding: 0.5rem 2rem;
    background-color: #ff5722;
    border: none;
    border-radius: 50px;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
  }
  
  .shop-button:hover {
    background-color: #ff7349;
  }
  
  
  .hero-content,.vision{
    text-align: center;
    margin: auto;
    padding-top: 6rem;
  }
  
  .hero-content h1,.vision h1{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    word-spacing: 10px;
  }
  .hero-content p,.vision p{
    font-size: 24px;
    width: 55%;
    text-align: center;
    padding-top: 16px;
    margin: auto;
    font-weight: 300;
    word-spacing: 4px;
  }
  .hero-content span{
  margin-top: 12px;
  font-size:64px;
  }
  .hero-content h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    word-spacing: 10px;
    padding-top: 12px;
    padding-bottom: 60px;
  }.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
  }
  
  .search-box {
    width: 80%; /* Increased width for better visibility */
    max-width: 600px; /* Ensures it doesn't become too wide */
    padding: 12px 20px;
    border: 2px solid #007bff; /* Blue border for contrast */
    border-radius: 25px; /* Rounded corners for modern look */
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .search-box:focus {
    border-color: #0056b3; /* Darker blue on focus */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
  }
  